#dialog-new_status .form-horizontal { 
    margin-top: 40px; 
}
#dialog-new_status .table thead tr th:last-child { 
    width: 20% 
}
#dialog-new_status .table thead tr th, #dialog-new_status .table tbody tr td  { 
    padding: 10px; 
}
#dialog-new_status .form-row label,  #dialog-new_status .form-row input{ 
    margin-right: 15px;
}
#add-new-status-submit {
    float:none;padding: 5px 25px 6px 25px;
}
#dialog-new_status label {
    font-weight: bold; color: #727270;
}
#new_status_input {
    width: 60%;
}
#dialog-new_status .delete_status:hover{ 
    cursor: pointer; opacity:0.8; 
}
#imageUrl { 
    display: none;
} 
#dialog-new_status .wrapper {
    margin-top: 40px;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}
#statuses { 
    opacity:0; 
}
.icon-delete-status{
    width: 15px;
    height: 17px;
    margin-left: 6px;
    margin-top: 1px;
    background-image: url(../img/remove.png);
}